<h3>Meet <%= @puppy.name %></h3>
<div class="jumbotron">
<%= image_tag(@puppy.image, width: "60%")%>
<div class="text-right">
	<h4><%= @puppy.name %></h4>
	<h4>Age: <%= @puppy.age %> years old</h4>
	<h4>Breed: <%= @puppy.breed %></h4>
	<h4>About <%= @puppy.name %>: </h4>
	<h5><%= @puppy.bio %></h5>

	<button><%=link_to "Edit Puppy", edit_puppy_path(@puppy)  %></button>
	<button><%= link_to "Remove Puppy", @puppy, method: :delete, data: {confirm: "Are you sure you want to remove this puppy from the puppy rescue?"} %></button>
	</div>
</div>
